/* ************************************************************************** */
/* Project: NextTripTicket, A new adventure start for travel lovers!          */
/* Description: Website CSS                                                   */
/* Author: db0 (db0company@gmail.com, http:/*db0.fr/)                         */
/* Latest version, copyright: https:/*github.com/db0company/NextTripTicket    */
/* ************************************************************************** */

@font-face {
    font-family: RoadMovie;
    src: url('fonts/ROADMOVIE TRIAL___.ttf');
}

body {
    background: url('../img/wallpapers/blurry_colorful.jpg');
    background-attachment: fixed;
    font-family: Tahoma, Verdana, sans-serif;
    color: black;
}

#main {
    margin: 10%;
    text-align: center;
}

a {
    color: white;
    &:hover {
	color: white;
	text-decoration: none;
    }
}

header {
    text-align: center;
    img {
	width: 100%;
	max-width: 775px;
    }
}

#content {
    padding: 5%;
    .ticket {
	font-family: RoadMovie, fantasy;
	font-size: 1.8em;
	margin: 10%;
	overflow: hidden;
	img {
	    display: block;
	}
	.content_wrap {
	    position: absolute;
	    margin-left: 1.5%;
	    margin-top: 0.8%;
	    width: 13.8%;
	    .content {
		margin: 10%;
		text-align: center;
		color: #111;
	    }
	}
    }
}

#myslides {
    width: 340px;
    height: 300px;
    float: right;
    padding: 0;
    margin:  0 auto;
    margin-top: 20px;
    margin-right: 25%;
    a {
	padding: 10px;
	border:  1px solid rgb(100,100,100);
	background-color: rgb(230,230,230);
	width: 320px;
	top:  0;
	left: 0;
    }
}

iframe {
    width: 100%;
    height: 700px;
    border: none;
}

table {
    width: 100%;
    background: white;
}

table, .well {
    margin-right: auto;
    margin-left: auto;
    a {
	color: green;
	&:hover {
	    color: green;
	    text-decoration: underline;
	}
    }
    th small {
	font-weight: normal;
	font-style: italic;
    }
}

.white {
    color: white;
}

.pagination a {
    color: green;
}
.alert a {
    color: inherit;
    font-weight: bold;
}

footer {
    clear: both;
    color: fadeout(white, 40%);
    text-align: center;
    font-size: 0.9em;
    a {
	
	color: fadeout(white, 40%);
	&:hover {
	    text-decoration: underline;
	}
    }
}


.hidden {
    display: none;
}

